*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
playwright-report/index.html
playwright-report/data/1b61fbb89480f68ce208bf7327cb71635cd80955.md
playwright-report/data/1b69f74d9383f3ea4f0653ae53fa69031da71600.md
playwright-report/data/4c5bea1ef34191e64ae9d389131d107d756be958.md
playwright-report/data/5adc5ba7de7e00f0c42137a20de04049c8da05b8.md
playwright-report/data/9a8887896f33485a71244f647d88281c9ad0538f.md
playwright-report/data/9c186b2487666ea0bf3923668f8015fc29547a3e.md
playwright-report/data/057fa2897e10f2653692c92835d04360af95b0f0.md
playwright-report/data/201b2ae973bd29bd55cde48aec8eee3738f67edf.md
playwright-report/data/277cb8e7c6c57d5ee772dbfe963977db40d89c62.md
playwright-report/data/447cb41acf355cdde3c02982d1adabfd3d64a700.md
playwright-report/data/562e7d576030327235a8ecf1ea503c46fc5a73ca.md
playwright-report/data/608f33f50d0ffaac9472e598dd426f16db19c976.md
playwright-report/data/659f2856af15f846f6db64ebcab6b36249099df5.md
playwright-report/data/6570a1ce7e803fd233f14dddbbdf695bafacc26c.md
playwright-report/data/7952de1924d90482eb1d3398009bf71702f5914f.md
playwright-report/data/6551037e08b68f1ef6afcedd88e10da0ab6aa1c5.md
playwright-report/data/57101751c8f91fb70ebd54fd31a230cd4adc0730.md
playwright-report/data/a07a861062b102b9656b509f80054e20901347e0.md
playwright-report/data/a8e89f47850a0ffcbeb98f785afb0d0fc70244f8.md
playwright-report/data/a70688fd36e92bf2a208e9723260a9dd8c519d9f.md
playwright-report/data/b03eb41d49bcbb2a5220c17c1d2658f81b7284a7.md
playwright-report/data/b7e7e2556e04343e7f628195e04216c43476a487.md
playwright-report/data/c7845da4f947689b150651aa14adb2acddae109d.md
playwright-report/data/cc5f34e40ccf120777d4d51a3dbd80f3dad181cb.md
playwright-report/data/df223cbab847bd4193d36e33673b4b5eff05ff1d.md
playwright-report/data/e01be5c2985f7ea70555c82a46e2f522d4e32f75.md
playwright-report/data/e61bc72458323ca57543fe8685d2437783a4f59f.md
playwright-report/data/e77b104c4329ed478c9219c2c5f638b280b7446b.md
playwright-report/data/ef4267e37ef38f670d060a4d2402c15fe57ea5e6.md
playwright-report/data/f1c1149359300d969a3c6ef6169591af2ffcd4bf.md
playwright-report/data/f3e8c52962e8e7fd31e985fe74caf2651e59a3e9.md
playwright-report/data/f3eeefb9860c6f9c89c73573c8702ef17fcadf5d.md
playwright-report/data/f8c09ec04621634c4cdc9b57d975d41da6fbfdd6.md
playwright-report/data/fbfe25b189402a455da4fff873977f19eaf95d41.md
playwright-report/index.html
test-results/.last-run.json
test-results/01-site-navigation-Site-Na-61a83--functional-navigation-menu-Mobile-Chrome/error-context.md
test-results/01-site-navigation-Site-Na-61a83--functional-navigation-menu-Mobile-Safari/error-context.md
test-results/01-site-navigation-Site-Na-bd05e-ross-different-screen-sizes-Mobile-Chrome/error-context.md
test-results/01-site-navigation-Site-Na-bd05e-ross-different-screen-sizes-Mobile-Safari/error-context.md
test-results/01-site-navigation-Site-Na-bd05e-ross-different-screen-sizes-chromium/error-context.md
test-results/01-site-navigation-Site-Na-bd05e-ross-different-screen-sizes-firefox/error-context.md
test-results/01-site-navigation-Site-Na-bd05e-ross-different-screen-sizes-webkit/error-context.md
test-results/02-product-catalog-Product-44e0f-alog-without-authentication-Mobile-Chrome/error-context.md
test-results/02-product-catalog-Product-44e0f-alog-without-authentication-Mobile-Safari/error-context.md
test-results/02-product-catalog-Product-44e0f-alog-without-authentication-chromium/error-context.md
test-results/02-product-catalog-Product-44e0f-alog-without-authentication-firefox/error-context.md
test-results/02-product-catalog-Product-44e0f-alog-without-authentication-webkit/error-context.md
test-results/02-product-catalog-Product-981dc-should-view-product-details-Mobile-Chrome/error-context.md
test-results/02-product-catalog-Product-981dc-should-view-product-details-Mobile-Safari/error-context.md
test-results/02-product-catalog-Product-981dc-should-view-product-details-chromium/error-context.md
test-results/02-product-catalog-Product-981dc-should-view-product-details-firefox/error-context.md
test-results/02-product-catalog-Product-981dc-should-view-product-details-webkit/error-context.md
test-results/03-authentication-User-Aut-126fa-e-invalid-login-credentials-Mobile-Chrome/error-context.md
test-results/03-authentication-User-Aut-126fa-e-invalid-login-credentials-Mobile-Safari/error-context.md
test-results/03-authentication-User-Aut-126fa-e-invalid-login-credentials-chromium/error-context.md
test-results/03-authentication-User-Aut-126fa-e-invalid-login-credentials-firefox/error-context.md
test-results/03-authentication-User-Aut-126fa-e-invalid-login-credentials-webkit/error-context.md
test-results/03-authentication-User-Aut-167ff-ogin-with-valid-credentials-Mobile-Chrome/error-context.md
test-results/03-authentication-User-Aut-167ff-ogin-with-valid-credentials-Mobile-Safari/error-context.md
test-results/03-authentication-User-Aut-167ff-ogin-with-valid-credentials-chromium/error-context.md
test-results/03-authentication-User-Aut-167ff-ogin-with-valid-credentials-firefox/error-context.md
test-results/03-authentication-User-Aut-167ff-ogin-with-valid-credentials-webkit/error-context.md
test-results/03-authentication-User-Aut-56ab7-er-new-user-with-valid-data-Mobile-Safari/error-context.md
test-results/03-authentication-User-Aut-56ab7-er-new-user-with-valid-data-chromium/error-context.md
test-results/03-authentication-User-Aut-56ab7-er-new-user-with-valid-data-firefox/error-context.md
test-results/03-authentication-User-Aut-56ab7-er-new-user-with-valid-data-webkit/error-context.md
test-results/03-authentication-User-Aut-5cb65-ement-should-reset-password-Mobile-Chrome/error-context.md
test-results/03-authentication-User-Aut-5cb65-ement-should-reset-password-Mobile-Safari/error-context.md
test-results/03-authentication-User-Aut-5cb65-ement-should-reset-password-chromium/error-context.md
test-results/03-authentication-User-Aut-5cb65-ement-should-reset-password-firefox/error-context.md
test-results/03-authentication-User-Aut-5cb65-ement-should-reset-password-webkit/error-context.md
test-results/03-authentication-User-Aut-e24ff--should-manage-user-profile-Mobile-Chrome/error-context.md
test-results/03-authentication-User-Aut-e24ff--should-manage-user-profile-Mobile-Safari/error-context.md
test-results/03-authentication-User-Aut-e24ff--should-manage-user-profile-chromium/error-context.md
test-results/03-authentication-User-Aut-e24ff--should-manage-user-profile-firefox/error-context.md
test-results/03-authentication-User-Aut-e24ff--should-manage-user-profile-webkit/error-context.md
test-results/03-authentication-User-Aut-eeaf7-pdate-password-from-profile-Mobile-Chrome/error-context.md
test-results/03-authentication-User-Aut-eeaf7-pdate-password-from-profile-Mobile-Safari/error-context.md
test-results/03-authentication-User-Aut-eeaf7-pdate-password-from-profile-chromium/error-context.md
test-results/03-authentication-User-Aut-eeaf7-pdate-password-from-profile-firefox/error-context.md
test-results/03-authentication-User-Aut-eeaf7-pdate-password-from-profile-webkit/error-context.md
test-results/04-shopping-cart-Shopping--2c029--display-correct-cart-total-Mobile-Chrome/error-context.md
test-results/04-shopping-cart-Shopping--2c029--display-correct-cart-total-Mobile-Safari/error-context.md
test-results/04-shopping-cart-Shopping--2c029--display-correct-cart-total-chromium/error-context.md
test-results/04-shopping-cart-Shopping--2c029--display-correct-cart-total-firefox/error-context.md
test-results/04-shopping-cart-Shopping--2c029--display-correct-cart-total-webkit/error-context.md
test-results/04-shopping-cart-Shopping--30691--complete-checkout-with-COD-Mobile-Chrome/error-context.md
test-results/04-shopping-cart-Shopping--30691--complete-checkout-with-COD-Mobile-Safari/error-context.md
test-results/04-shopping-cart-Shopping--30691--complete-checkout-with-COD-chromium/error-context.md
test-results/04-shopping-cart-Shopping--30691--complete-checkout-with-COD-firefox/error-context.md
test-results/04-shopping-cart-Shopping--30691--complete-checkout-with-COD-webkit/error-context.md
test-results/04-shopping-cart-Shopping--9b8bb-e-should-view-order-history-Mobile-Chrome/error-context.md
test-results/04-shopping-cart-Shopping--9b8bb-e-should-view-order-history-Mobile-Safari/error-context.md
test-results/04-shopping-cart-Shopping--9b8bb-e-should-view-order-history-chromium/error-context.md
test-results/04-shopping-cart-Shopping--9b8bb-e-should-view-order-history-firefox/error-context.md
test-results/04-shopping-cart-Shopping--9b8bb-e-should-view-order-history-webkit/error-context.md
test-results/04-shopping-cart-Shopping--a0d04-e-should-track-order-status-Mobile-Chrome/error-context.md
test-results/04-shopping-cart-Shopping--a0d04-e-should-track-order-status-Mobile-Safari/error-context.md
test-results/04-shopping-cart-Shopping--a0d04-e-should-track-order-status-chromium/error-context.md
test-results/04-shopping-cart-Shopping--a0d04-e-should-track-order-status-firefox/error-context.md
test-results/04-shopping-cart-Shopping--a0d04-e-should-track-order-status-webkit/error-context.md
test-results/04-shopping-cart-Shopping--c0489--should-proceed-to-checkout-Mobile-Chrome/error-context.md
test-results/04-shopping-cart-Shopping--c0489--should-proceed-to-checkout-Mobile-Safari/error-context.md
test-results/04-shopping-cart-Shopping--c0489--should-proceed-to-checkout-chromium/error-context.md
test-results/04-shopping-cart-Shopping--c0489--should-proceed-to-checkout-firefox/error-context.md
test-results/04-shopping-cart-Shopping--c0489--should-proceed-to-checkout-webkit/error-context.md
test-results/04-shopping-cart-Shopping--d5fb6-should-add-products-to-cart-Mobile-Chrome/error-context.md
test-results/04-shopping-cart-Shopping--d5fb6-should-add-products-to-cart-Mobile-Safari/error-context.md
test-results/04-shopping-cart-Shopping--d5fb6-should-add-products-to-cart-chromium/error-context.md
test-results/04-shopping-cart-Shopping--d5fb6-should-add-products-to-cart-firefox/error-context.md
test-results/04-shopping-cart-Shopping--d5fb6-should-add-products-to-cart-webkit/error-context.md
test-results/05-admin-panel-Admin-Panel-02f97-t-should-create-new-product-Mobile-Chrome/error-context.md
test-results/05-admin-panel-Admin-Panel-02f97-t-should-create-new-product-Mobile-Safari/error-context.md
test-results/05-admin-panel-Admin-Panel-02f97-t-should-create-new-product-chromium/error-context.md
test-results/05-admin-panel-Admin-Panel-02f97-t-should-create-new-product-firefox/error-context.md
test-results/05-admin-panel-Admin-Panel-02f97-t-should-create-new-product-webkit/error-context.md
test-results/05-admin-panel-Admin-Panel-0b358-ent-should-view-orders-list-Mobile-Chrome/error-context.md
test-results/05-admin-panel-Admin-Panel-0b358-ent-should-view-orders-list-Mobile-Safari/error-context.md
test-results/05-admin-panel-Admin-Panel-0b358-ent-should-view-orders-list-chromium/error-context.md
test-results/05-admin-panel-Admin-Panel-0b358-ent-should-view-orders-list-firefox/error-context.md
test-results/05-admin-panel-Admin-Panel-0b358-ent-should-view-orders-list-webkit/error-context.md
test-results/05-admin-panel-Admin-Panel-0b4dc-gement-should-process-order-Mobile-Chrome/error-context.md
test-results/05-admin-panel-Admin-Panel-0b4dc-gement-should-process-order-Mobile-Safari/error-context.md
test-results/05-admin-panel-Admin-Panel-0b4dc-gement-should-process-order-chromium/error-context.md
test-results/05-admin-panel-Admin-Panel-0b4dc-gement-should-process-order-firefox/error-context.md
test-results/05-admin-panel-Admin-Panel-0b4dc-gement-should-process-order-webkit/error-context.md
test-results/05-admin-panel-Admin-Panel-33301-t-should-view-products-list-Mobile-Chrome/error-context.md
test-results/05-admin-panel-Admin-Panel-33301-t-should-view-products-list-Mobile-Safari/error-context.md
test-results/05-admin-panel-Admin-Panel-33301-t-should-view-products-list-chromium/error-context.md
test-results/05-admin-panel-Admin-Panel-33301-t-should-view-products-list-firefox/error-context.md
test-results/05-admin-panel-Admin-Panel-33301-t-should-view-products-list-webkit/error-context.md
test-results/05-admin-panel-Admin-Panel-3516b-n-dashboard-with-statistics-Mobile-Chrome/error-context.md
test-results/05-admin-panel-Admin-Panel-3516b-n-dashboard-with-statistics-Mobile-Safari/error-context.md
test-results/05-admin-panel-Admin-Panel-3516b-n-dashboard-with-statistics-chromium/error-context.md
test-results/05-admin-panel-Admin-Panel-3516b-n-dashboard-with-statistics-firefox/error-context.md
test-results/05-admin-panel-Admin-Panel-3516b-n-dashboard-with-statistics-webkit/error-context.md
test-results/05-admin-panel-Admin-Panel-3eb37-should-login-to-admin-panel-Mobile-Chrome/error-context.md
test-results/05-admin-panel-Admin-Panel-3eb37-should-login-to-admin-panel-Mobile-Safari/error-context.md
test-results/05-admin-panel-Admin-Panel-3eb37-should-login-to-admin-panel-chromium/error-context.md
test-results/05-admin-panel-Admin-Panel-3eb37-should-login-to-admin-panel-firefox/error-context.md
test-results/05-admin-panel-Admin-Panel-3eb37-should-login-to-admin-panel-webkit/error-context.md
test-results/05-admin-panel-Admin-Panel-5a689-ment-should-view-users-list-Mobile-Chrome/error-context.md
test-results/05-admin-panel-Admin-Panel-5a689-ment-should-view-users-list-Mobile-Safari/error-context.md
test-results/05-admin-panel-Admin-Panel-5a689-ment-should-view-users-list-chromium/error-context.md
test-results/05-admin-panel-Admin-Panel-5a689-ment-should-view-users-list-firefox/error-context.md
test-results/05-admin-panel-Admin-Panel-5a689-ment-should-view-users-list-webkit/error-context.md
test-results/05-admin-panel-Admin-Panel-9ac5f-nt-should-manage-user-roles-Mobile-Chrome/error-context.md
test-results/05-admin-panel-Admin-Panel-9ac5f-nt-should-manage-user-roles-Mobile-Safari/error-context.md
test-results/05-admin-panel-Admin-Panel-9ac5f-nt-should-manage-user-roles-chromium/error-context.md
test-results/05-admin-panel-Admin-Panel-9ac5f-nt-should-manage-user-roles-firefox/error-context.md
test-results/05-admin-panel-Admin-Panel-9ac5f-nt-should-manage-user-roles-webkit/error-context.md
test-results/05-admin-panel-Admin-Panel-9dce3-hould-edit-existing-product-Mobile-Chrome/error-context.md
test-results/05-admin-panel-Admin-Panel-9dce3-hould-edit-existing-product-Mobile-Safari/error-context.md
test-results/05-admin-panel-Admin-Panel-9dce3-hould-edit-existing-product-chromium/error-context.md
test-results/05-admin-panel-Admin-Panel-9dce3-hould-edit-existing-product-firefox/error-context.md
test-results/05-admin-panel-Admin-Panel-9dce3-hould-edit-existing-product-webkit/error-context.md
test-results/05-admin-panel-Admin-Panel-abf63-ment-should-create-new-user-Mobile-Chrome/error-context.md
test-results/05-admin-panel-Admin-Panel-abf63-ment-should-create-new-user-Mobile-Safari/error-context.md
test-results/05-admin-panel-Admin-Panel-abf63-ment-should-create-new-user-chromium/error-context.md
test-results/05-admin-panel-Admin-Panel-abf63-ment-should-create-new-user-firefox/error-context.md
test-results/05-admin-panel-Admin-Panel-abf63-ment-should-create-new-user-webkit/error-context.md
